
/* font */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Tac+One&family=Unlock&display=swap');

@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);


body {
    font-family: 'Jeju Myeongjo', serif;
    color: #4D4D4D;
    font-size: 14px;
}

::selection {
    background-color: #BB0B0B;
    color: #fff;
}

section {
    width: 100%;
    height: 100vh;
    padding: 40px;
    /* width: calc(100vw - 80px);
    height: calc(100vh - 80px);
    margin: 40px; */
    box-sizing: border-box;
}

/* Style */
.magazin-text {
    line-height: 25px;
    font-size: 14px;
}

.pariesFont {
    font-family: "Parisienne", cursive;
    color: #BB0B0B;
}

.point-color {
    color: #BB0B0B;
}

/* sec01 */
#sec01 {
    display: flex;
    position: relative;
}

#sec01 .left {
    position: relative;
    width: calc(100% - 56.25%);
}

#sec01 h1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 65px 0 0;
    font-family: "Unlock", serif;
    font-size: 96px;
    white-space: nowrap;
    color: #232026;
}

#sec01 h1::before {
    position: absolute;
    top: 0;
    left: -40px;
    content: "";
    width: 258px;
    height: 258px;
    background: url('../images/sec1-h1-bg.png') no-repeat center;
    z-index: -1;
    animation:  rotationBg 12s linear infinite;
}

@keyframes rotationBg {
    to {
        transform: rotate(360deg);
    }
}

#sec01 h1 .sub {
    display: block;
    font-size: 64px;
}

#sec01 .right {
    width: 56.25%;
    height: 100%;
    background-color: salmon;
    background:url('../images/sec1-main.webp') no-repeat center top;
    background-size: cover;
}

#sec01::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 33.3333%;
    background-color: #5B5A5D;
    z-index: -1;
}

/* sec02 */
#sec02 {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

#sec02 .left,
#sec02 .right {
    width: 50%;    
}

#sec02 .left {
    padding-right: 40px;
}

.lf-top {
    height: calc( 100% - 34.03% );
}

.bg-item-wrap {
    position: absolute;
    top: 120px;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    z-index: 1;
}

.bg-item-wrap .bg-item {
    position: relative;
    width: 280px;
    height: 280px;
    transform: rotate(45deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.bg-item-wrap .bg-item:nth-child(1) {
    top: 130px;
    right: 30px;
}

.bg-item-wrap .bg-item:nth-child(2) {
    top: -80px;
    left: -90px;
}

.bg-item-wrap .bg-item:nth-child(3) {
    top: 130px;
    left: -150px;
}

.bg-item-wrap .bg-item:nth-child(4) {
    top: -80px;
    left: -210px;;
}

.bg-item-wrap .bg-item:nth-child(5) {
    top: 130px;
    left: -270px;
}

.bg-item-wrap .bg-item img {
    position: relative;
    top: -25%;
    left: -25%;
    transform: translate(25% 25%);
    width: 420px;
    height: 420px;
    object-fit: cover;
    transform: rotate(-45deg);
    transition: all 0.5s;
}



.lf-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34.03%;
}

#sec02 .right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    background-color: #84858B;
}

.main-img {
    position: relative;
    height: 80%;
}

.main-img p {
    position: absolute;
    bottom: 40px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    line-height: 100px;
    font-size: 64px;
    text-align: center;
    z-index: 4;
}

.main-img p span{
    font-size: 96px;
}

.main-img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    z-index: 3;
}


.grayScale {
    filter : grayscale(100%);
}

.grayScale:hover {
    filter: none;
}
